@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: "Poppins Medium";
  src: url("../public/fonts/Poppins-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins SemiBold";
  src: url("../public/fonts/Poppins-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Poppins Regular";
  src: url("../public/fonts/Poppins-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins Light";
  src: url("../public/fonts/Poppins-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@media (min-width: 768px) {
  ::-webkit-scrollbar {
    display: block;
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
    fill-opacity: 20;
  }

  ::-webkit-scrollbar-thumb {
    background: #37373f;
    border-radius: 10px;
    /* border: 0.5px solid #006582; Adding border to the scrollbar thumb */
  }
}

/* Hide scrollbar for < lg screens */
@media (max-width: 767px) {
  /* For Webkit (Chrome, Safari, Edge) */
  ::-webkit-scrollbar {
    display: none;
  }

  /* For Firefox */
  html {
    scrollbar-width: none;
    overflow-y: scroll;
  }

  /* For Internet Explorer and Edge */
  body {
    -ms-overflow-style: none;
    font-family: "Poppins", sans-serif;
  }
}
@layer base {
  :root {
    --radius: 0.5rem;
  }
}
